Repository HazemBittar/Whack-A-Mole-, pull requests merged in 2020-07, with the labels that each got.

#16 Hole mole display
  images/dirt.svg
  images/mole.svg
  index.html
  style.css
Labels: DOM, style

#14 added title and button
  index.html
  style.css
Labels: DOM, style

#23 Create start game.js
  start game.js
Labels: logic

#26 Update development-strategy.md
  development-strategy.md
Labels: documentation

#25 added see-beauty
  style.css
Labels: style
